ul.border-top {
    padding-top: 1em;
    border-top: 5px solid white !important;
    width: fit-content;
    margin: auto;
    font-size: 110%;
    @media (min-width: 667px) {
        margin: 0;
    }
}

.list{
    text-align: center;
    @media (min-width: 667px) {
        text-align: left;
    }
    h3{
        margin-bottom: 1rem;
    }
}