.route-container{
  position: relative; 
  overflow: hidden; 
  width: 100vw; 
  height: 100vh;
}

.route{
  transition: transform 500ms ease-out;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.slide-enter{
  transform: translateY(200%);
}

.slide-enter-active{
  transform: translateY(0);
}

.slide-out{
  transform: translateY(0);
}

.slide-out-active{
  transform: translateY(-200%);
}