.route{
  transition: transform 500ms ease-out;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 

  &__container {
    position: relative; 
    overflow: hidden; 
    width: 94vw; 
    height: 100vh;
    margin-inline: auto;
  }

  @media (min-width: 667px) {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 15px;
  }
}

section {
  text-align: center;
  @media (min-width: 667px) {
    text-align: left;
  }
}

.slide__enter{
  transform: translateY(200%);
  &--active{
    transform: translateY(0);
  }
}

.slide__out{
  transform: translateY(0);
  &--active{
    transform: translateY(-200%);
  }
}

.title {
  font-size: 30px;
  @media (min-width: 667px) {
    font-size: 70px;
  }
}

.text-justify { text-align: justify; text-justify: inter-word; }