@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --up: 4;
  --card-margin: 12px;
  --card-shadow: rgba(46, 49, 52, .4);
  --color-white: #fff;
  --color-lightgrey: #ccc;
  --color-ui: #999;
  --color-ui-hover: #666;
  --cardWidth: calc(75%/var(--up));
  --carouselWidth: calc(var(--cardWidth) * var(--num));
  --carouselLeftMargin: calc(2vw - var(--cardWidth));
  
  @media screen and (max-width: 900px) { /*basically mobile*/
    --up: 1;
  }
}

.sliderwrapper {
    overflow: hidden;
    position:relative;
    width: 100%;

    button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #DC4540;
        width:40px;
        height:40px;
        border-radius:50%;
        color:var(--color-white);
        box-shadow: 0px 2px 5px 1px rgba(0,0,0,.25);
        border: 0;
        transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
        
        &:hover {
            background: rgba($color: #DC4540, $alpha: 0.7);
        }

        &:focus{
            outline:none;
            border: 1px solid rgba(255, 255, 255, 1);
        }

        &.prev{
            left: 3%;
        }

        &.next{
            right: 3%;
        }
    }
}

.slider{
    width: var(--carouselWidth);
    margin: 0 0 0 var(--carouselLeftMargin);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    height: 55vh;
  
  &.prev {
    animation-duration: .6s;
    animation-timing-function:cubic-bezier(0.83, 0, 0.17, 1);
    animation-name: prev;
  }
  
  &.next {
    animation-duration: .6s;
    animation-timing-function:cubic-bezier(0.83, 0, 0.17, 1);
    animation-name: next;
  }
  
  li {
    text-align: center;
    width: calc(var(--cardWidth) - var(--card-margin) * 2);
    box-sizing: border-box;
    height: 92%;
  }  
}



.card {
    box-shadow: 0px 1px 2px 0px var(--card-shadow);
    border-radius: 4px;
    margin: var(--card-margin);
    background: transparent;

    a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        &::after {
            background: rgba(black, 0.6);
            color: white;
            content: '';
            height: 100%;
            justify-content: center;
            opacity: 0;
            position: absolute;
            transition: all 0.5s ease;
            width: 100%;
            top: 0;
            left: 0;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            object-fit: cover;
            transition: all 0.5s ease;
            
        }
        
      
        p {
          font-size: 1.1rem;
          margin-bottom: 0;
          text-transform: uppercase;
          opacity: 0;
          position: absolute;
          z-index: 1;
          text-align: center;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          font-weight: bold;
        }
    
        &:hover{
            &::after, p {
                opacity: 1;
            }
    
            img {
                transform: scale(1.3);
            }
        }
    }
}

@keyframes next {
  from {
    transform:translateX(0px);
  }
  to {
    transform:translateX(calc(0px + var(--cardWidth)));
  }
}

@keyframes prev {
  from {
    transform:translateX(0px);
  }
  to {
    transform:translateX(calc(0px - var(--cardWidth)));
  }
}