.skills {
    position: relative;
    height: 87%;
    @media (min-width: 667px) {
        width: 100%;
    }
}

.knowleges {
    position: relative;

    @media (min-width: 667px) {
        margin-top: 60px !important;
    }

    &__desktop {
        display: none;
        @media (min-width: 667px) {
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
    }
}
